*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Common */
.btn {
    background-color: #5d3bee;
    color: #fdfdfd;
    border-radius: 0px;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.8rem;
    min-width: 170px;
    height: 62px;
}

.btn:hover {
    opacity: 0.9;
    background: #5d3bee;
    color: #fdfdfd;
}

.section__desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
    color: #51586a;
}

.row {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 3rem;
}

/* Header */
.header {
    background-color: #fbfaff;
    padding: 20px 135px;
    display: flex;
    align-items: center;
}

.header__mail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
    margin-right: 367px;
}

.logo__mail {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #c5bde6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__mail-desc {
    font-weight: 500;
    font-style: Medium;
    font-size: 2.2rem;
    text-decoration: underline;
    color: #080415;
    cursor: pointer;
}

.navbar {
    margin-left: 223px;
}

.nav__list {
    display: flex;
    gap: 43px;
}

.nav__item {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    color: #51586a;
    transition: 0.25s;
}

.nav__item:hover {
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
    padding-top: 44px;
    background: #fbfaff;
    overflow: hidden;
}

.hero .row {
    --bs-gutter-x: 3rem;
}

.hero-deco {
    z-index: 1;
    position: absolute;
    left: 90px;
    top: 110px;
}

.hero-img {
    z-index: 2;
    position: relative;
}

.hero-right {
    margin-top: 137px;
    position: relative;
}

.hero-heading {
    font-weight: 500;
    font-style: Medium;
    font-size: 8rem;
    line-height: 76px;
    color: #080415;
}

.hero-desc {
    margin-top: 20px;
    max-width: 370px;
    margin-bottom: 50px;
}

.hero-row {
    display: flex;
    gap: 30px;
    max-width: 286px;
    align-items: center;
    margin-bottom: 104px;
}

.hero-link {
    font-weight: 700;
    font-style: Bold;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #080415;
    text-wrap: nowrap;
}

.hero-contact {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e9e8ec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-deco2 {
    position: absolute;
    bottom: 0;
    right: -60px;
}

/* Client */
.client {
    margin-top: 98px;
}

.client__row {
    display: flex;
    align-items: center;
}

.client-left {
    display: flex;
}

.client__heading {
    display: inline-block;
    font-weight: 500;
    font-style: Medium;
    font-size: 4.2rem;
    line-height: 50px;
    color: #080415;
    max-width: 253px;
    margin-right: 105px;
}

.client__line {
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
    margin-right: 13px;
    position: relative;
    top: 20px;
}

.client-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 36px 70px;
}

/* Special */
.special {
    margin-top: 113px;
}

.special__heading {
    font-weight: 500;
    font-style: Medium;
    font-size: 5.6rem;
    color: #080415;
    text-align: center;
}

.special__desc {
    text-align: center;
    margin: 20px auto 60px;
}

.special__row {
    --bs-gutter-x: 3rem;
}

.special__content {
    padding: 33px 0px 32px 43px;
    background-color: #fbfaff;
    transition: 0.5s;
}

.special__content:hover {
    position: relative;
    top: -20px;
    background-color: #7b9beb;
    border-radius: 20px;
    cursor: pointer;
}

.special__item-heading {
    font-weight: 500;
    font-style: Medium;
    font-size: 3.2rem;
    color: #080415;
    margin-top: 22px;
    margin-bottom: 15px;
}

.special__item-desc {
    max-width: 285px;
}

/* Project */
.project {
    background-color: #5d3bee;
    margin-top: 172px;
    padding-bottom: 86px;
}

.project__top {
    padding-top: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

.project__desc {
    max-width: 370px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
    color: #ffffff;
    opacity: 70%;
}

.project__heading {
    max-width: 468px;
    font-weight: 500;
    font-style: Medium;
    font-size: 5.6rem;
    line-height: 66px;
    color: #fff;
    margin-right: 220px;
}

.project__item {
    background-color: #fbfaff;
    position: relative;
}

.project__item-body {
    display: flex;
    justify-content: space-between;
    padding: 24px 23px 23px 34px;
}

.project__info {
    margin-top: 20px;
}

.project__img {
    z-index: 2;
    width: 246px;
    height: 187px;
    position: relative;
}

.project__deco1 {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;
}

.project__deco2 {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.project__info-heading {
    font-weight: 500;
    font-style: Medium;
    font-size: 3.2rem;
    color: #080415;
}

.project__info-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 23px;
    color: #51586a;
    margin: 5px 0 20px;
    max-width: 220px;
}

.project__link {
    display: inline-block;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.8rem;
    color: #080415;
    text-decoration: underline;
    text-decoration-style: solid;
}

.project__cta {
    margin: 80px auto 0px;
    background-color: #ffffff;
    color: #080415;
    display: block;
}

/* interactive */
.inter {
    margin-top: 140px;
}
.inter__slogan {
    display: block;
    font-weight: 500;
    font-style: Medium;
    font-size: 3.2rem;
    color: #5d3bee;
    text-align: center;
    margin-bottom: 10px;
}

.inter__slogan::after {
    content: url(../img/hand.svg);
    margin-left: 9px;
}

.inter__heading {
    font-weight: 500;
    font-style: Medium;
    font-size: 5.6rem;
    color: #080415;
    text-align: center;
    margin-bottom: 15px;
}

.inter__desc {
    text-align: center;
    margin: 0 auto 70px;
    max-width: 570px;
}

.inter__line {
    width: 946px;
    height: 1px;
    background-color: #080415;
    opacity: 20%;
    margin: 0 auto;
}

.inter__stat {
    display: flex;
    gap: 140px;
    margin: 20px 0;
    justify-content: center;
}

.inner__num {
    font-weight: 500;
    font-style: Medium;
    font-size: 5.6rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    text-decoration-thickness: 5%;
    color: #080415;
}

.inner__label {
    font-weight: 400;
    font-size: 18px;
    color: #51586a;
}

iframe {
    display: inline-block;
    margin: 70px auto 0;
}

/* Review */
.review {
    background-color: #fbfaff;
    padding-top: 150px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.review__heading {
    font-weight: 500;
    font-style: Medium;
    font-size: 5.6rem;
    color: #080415;
}

.review__desc {
    max-width: 570px;
    margin: 20px auto 60px;
}

.review__para {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 40px;
    color: #51586a;
    max-width: 679px;
    margin: 0 auto 36px;
}

.review__writer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.writer__name {
    font-weight: 500;
    font-size: 3rem;
    color: #080415;
    margin-top: 10px;
}

.review__job {
    font-weight: 400;
    font-size: 1.6rem;
    color: #51586a;
}

.review__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    padding-bottom: 74px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #080415;
    opacity: 20%;
}

.checked {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #5d3bee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-checked {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5d3bee;
}

.review__deco1 {
    position: absolute;
    left: -100px;
    bottom: 0;
}
.review__deco2 {
    position: absolute;
    right: -100px;
    bottom: 0;
}
